<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      MVC Tech Blog {{loggedIn}}
    </h1>
   <nav>
    {{#if loggedIn}}
         <a href="/" class="navbar-item  pt-1">homepage</a>
            <a href="/dashboard" class="navbar-item pt-1">dashboard</a>
            <a href="/dashboard/create/" class="navbar-item pt-1 mr-4">create post</a>
            <button id="logout" class="button is-danger">logout</button>
   {{else}}
    <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
    <a href="/dashboard" class="navbar-item pt-1">dashboard</a>
    <a href="/login" class="button">login</a>
    {{/if}}
     </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      2021 Copyright. All rights reserved. 
  </footer>

  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
