<div class="card dashboard-card">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
     <form class="edit-post-form">
        <div>
        <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
        <textarea name="post-text">{{post.content}}</textarea>
        </div>
    
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>