<div class="card dashboard-card">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
     <form class="edit-post-form">
        <div>
        <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
        <textarea name="post-content">{{post.content}}</textarea>
        </div>
      <button type="submit" class="btn btn-sm btn-primary" id="updatePostButton">Update Post</button>
      <button type="button" class="btn btn-sm btn-danger" id="deletePostButton">Delete Post</button>
  </form>




<script src="/js/edit-post.js"></script>

